.wd-input-icons i {
    position: absolute;
}

.wd-icon {
    padding: 10px;
    min-width: 40px;
}

.wd-search-box {
    border-radius: 18px;
    height: 35px;
    width: 100%;
    border-width: 0px;
}

.wd-input-field {
    padding-left: 30px;
    text-align: left;
}

.wd-title {
    color: rgb(110, 118, 125);
}

::placeholder {
  color: rgb(110, 118, 125);
  font-weight: bold;
}

.wd-float-left {
    float: left;
    padding-right: 5px;
}

.wd-text-bold {
    font-weight: bold;
}

.wd-image-style {
    height: 100px;
    width: 100px;
    float: right;
}

.wd-font-size {
    font-size: 15px;

}

.wd-duration {
    color: rgb(110, 118, 125);
}

.wd-side-column-font-size {
    font-size: 14px;
}

.wd-image-icon {
    height: 40px;
    width: 40px;
}

.wd-float-left-side-bar {
    float: left;
}

.wd-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 25px;
  font-weight: bold;
}

.wd-bottom-left1 {
  position: absolute;
  bottom: 40px;
  left: 16px;
  font-size: 15px;

}

.wd-container {
  position: relative;
  text-align: center;
  color: white;
}

.wd-background-color {
    background-color: black;
}

.wd-font-color-white {
    color: white
}

.wd-icon-dark-mode {
    color: white;
}

.list-group-item-info.override-bs {
    background-color: black;
    color: rgb(211,211,211);
}

.list-group-item-info.override-bs3 {
    border: 0px;
    color: white;
    background-color: rgb(32,32,32);
}

.btn-primary.override-bs {
    background-color: rgb(0,191,255);
}

.btn-primary.override-bs2 {
    background-color: white;
    color: black;
    border: 0px;
}

.nav-link.override-bs {
    color: rgb(110, 118, 125);
}

.wd-search-box-dark-mode {
    background: rgb(32, 32, 32);
    border-radius: 18px;
    height: 35px;
    width: 100%;
    border-width: 0px;
    color: white;
}

.wd-icon-dark-model {
    padding: 10px;
    min-width: 40px;
    color: rgb(110, 118, 125);
}

.wd-search-twitter-text {
    color: rgb(110, 118, 125);
}

.wd-settings-icon {
    color: white;
    stroke: blue;
    stroke-width: 30px;
}

.wd-border-color-dark-mode {
    border: 1px solid rgb(47, 51, 54);
}

.wd-image-border {
    border: 1px solid rgb(47, 51, 54);
}

.wd-hyperlink {
color: rgb(0,191,255);
text-decoration: none;
}

.wd-side-bar-footer {
    color: rgb(110, 118, 125);
}

.wd-float-right {
    float: right;
    padding-right: 5px;
}

.wd-footer-container {
  float: left;
  padding: 7px;
}

.wd-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.active.override-active {
    color:red;
}

.nav-link.override-bs-selected {
    color: rgb(29, 161, 242);
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 3px;
}

.wd-settings-icon-dark-mode {
    color: white;
}

.wd-search1 {
  background-color:whitesmoke;

  color:black;
  border-color:lightgrey ;

}
.fa-search1 {
   color: rgb(110, 118, 125);
    font-weight: bold;
}

.btn-primary.wd-button12 {
   color: white;
    background-color: black;
}

.list-group-item.override-color {
background-color:whitesmoke;
border-width:0px;
}

.list-group-item.override-color1 {
background-color:white;
border-width:0px;
color:gray;

}

.list-group-item.bold {
background-color:white;
border-width:0px;
font-weight:bolder;
font-size:1.2rem;
color=black;
}

.list-group-item.bolder {
font-weight: bold;
font-color:black;
}

.fa-twitter.color{
color:#0d6efd;
}

.bi-patch-check-fill.color{
color:#0d6efd;
}

.fa-cog.color {
    color: black;

}
.list-group-item.link {

color:#0d6efd;
underline:none;
}

.nav-link.override-bs-selected {
    color: darkslategray;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 12px;
    text-decoration-thickness: 3px;
}

.nav-link.override-bs-color {
    color: gray;
    font-weight: bold;


}

.fa-hashtag.override {
font-weight:bold;

color: black;
}

.list-group-item-action.border1{
background-color:white;
border:none;
color:gray;


}

.fa-hashtag.color{
color:black;
text-weight:bolder;
font-size:1.2rem;
}

.wd-open-topic {
  color: rgb(110, 118, 125);
  float: right;
  padding-right: 16px;
  font-size: 20px;
  cursor: pointer;


}
.border-top-0 {
 border-style: solid;
  border-color: lightgrey;
  border-width:1px;

}


.rounded-square1 {
border-radius: 5px;

}
.bi-patch-check-fill.color-gold {
color:darkgoldenrod}